const isServer = typeof window === 'undefined';

const config = {
  webTitle: 'Example Title',
  nextAuthBasePath: '/path/api/auth',
  imageBasePath: '/bio-tracker',
  development: {
    uri: isServer ? 'http://localhost:3000/api/graphql' : '/api/graphql',
  },
  production: {
    uri: isServer ? 'https://example.com/api/graphql' : '/api/graphql',
  },

};

export default config;