module.exports = {
  apps: [
    {
      name: 'BOS',
      script: 'node',
      args: '-v',
      interpreter: '/bin/bash',
      env: {
        PATH: '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/texlive/2023/bin/x86_64-linux/'
      },
    },
  ],
};
